:root {
    --titulos: #F7F5F6;
    --mostrar-todo: #7C7D7E;

    --background-spotify: #000000;
    --background-navegador: #121212;
    --background-cards: #181818;

    --description: #8C8D8E;

    --seleccionado: #1DB954;
    --volumen: #848382;
}